.css_logo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_logo_grid_line {vertical-align: top;text-align: left;}
.css_companyname_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_companyname_grid_line {vertical-align: top;text-align: left;}
.css_companyaddress_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_companyaddress_grid_line {vertical-align: top;text-align: left;}
.css_companyphone_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_companyphone_grid_line {vertical-align: top;text-align: left;}
.css_companymail_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_companymail_grid_line {vertical-align: top;text-align: left;}
.css_currency_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_currency_grid_line {vertical-align: top;text-align: left;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_companyfax_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_companyfax_grid_line {vertical-align: top;text-align: left;}
