.css_trandate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_trandate_grid_line {vertical-align: top;text-align: center;}
.css_payment_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_payment_grid_line {vertical-align: top;text-align: left;}
.css_mrn_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_mrn_grid_line {vertical-align: top;text-align: left;}
.css_patient_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_patient_grid_line {vertical-align: top;text-align: left;}
.css_gender_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_gender_grid_line {vertical-align: top;text-align: left;}
