.css_trancode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_trancode_grid_line {vertical-align: top;text-align: right;}
.css_trandate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_trandate_grid_line {vertical-align: top;text-align: center;}
.css_patientid_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_patientid_grid_line {vertical-align: top;text-align: right;}
.css_patientname_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_patientname_grid_line {font-weight:bold;vertical-align: top;text-align: right;}
.css_birthdate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_birthdate_grid_line {vertical-align: top;text-align: center;}
.css_icdid_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_icdid_grid_line {vertical-align: top;text-align: right;}
.css_confirmdate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_confirmdate_grid_line {vertical-align: top;text-align: center;}
.css_finishdate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_finishdate_grid_line {vertical-align: top;text-align: center;}
.css_staffid_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_staffid_grid_line {vertical-align: top;text-align: right;}
.css_regcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_regcode_grid_line {vertical-align: top;text-align: right;}
.css_statusid_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_statusid_grid_line {font-weight:bold;vertical-align: top;text-align: right;}
