.css_saleid_label { }
.css_saleid_line {text-align:left;}
.css_saleid_obj {text-align:left;}
.css_paycode_label { }
.css_paycode_line { }
.css_paycode_obj { }
.css_amount_label { }
.css_amount_line {text-align:left;}
.css_amount_obj {text-align:right;}
.css_discount_label { }
.css_discount_line {text-align:left;}
.css_discount_obj {text-align:right;}
.css_type_label { }
.css_type_line {text-align:left;}
.css_type_obj {text-align:left;}
.css_picture_label { }
.css_picture_line { }
.css_picture_obj { }
.css_cardno_label { }
.css_cardno_line { }
.css_cardno_obj { }
.css_date_label { }
.css_date_line { }
.css_date_obj { }
.css_institution_label { }
.css_institution_line {text-align:left;}
.css_institution_obj {text-align:left;}
.css_sc_field_0_label { }
.css_sc_field_0_line { }
.css_sc_field_0_obj { }
.css_patient_label { }
.css_patient_line { }
.css_patient_obj { }
.css_bill_label { }
.css_bill_line { }
.css_bill_obj {text-align:right;}
.css_change_label { }
.css_change_line { }
.css_change_obj {text-align:right;}
