.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_patientcode_label { }
.css_patientcode_line { }
.css_patientcode_obj { }
.css_name_label { }
.css_name_line { }
.css_name_obj { }
.css_address_label { }
.css_address_line { }
.css_address_obj { }
.css_cityid_label { }
.css_cityid_line {text-align:left;}
.css_cityid_obj {text-align:left;}
.css_photo_label { }
.css_photo_line { }
.css_photo_obj { }
.css_birthdate_label { }
.css_birthdate_line { }
.css_birthdate_obj { }
.css_regdate_label { }
.css_regdate_line { }
.css_regdate_obj { }
.css_gender_label { }
.css_gender_line { }
.css_gender_obj { }
.css_zipcode_label { }
.css_zipcode_line { }
.css_zipcode_obj { }
