.css_trancode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_trancode_grid_line {vertical-align: top;text-align: right;}
.css_processed_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_processed_grid_line {vertical-align: top;text-align: center;}
.css_confirmed_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_confirmed_grid_line {vertical-align: top;text-align: center;}
.css_finished_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_finished_grid_line {vertical-align: top;text-align: center;}
.css_confirm_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_confirm_grid_line {vertical-align: top;text-align: right;}
.css_finish_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_finish_grid_line {vertical-align: top;text-align: right;}
