.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_parameter__label { }
.css_parameter__line { }
.css_parameter__obj { }
.css_subparameter__label { }
.css_subparameter__line { }
.css_subparameter__obj { }
.css_staffid__label { }
.css_staffid__line {text-align:left;}
.css_staffid__obj {text-align:left;}
.css_trandate__label { }
.css_trandate__line { }
.css_trandate__obj { }
.css_result__label { }
.css_result__line { }
.css_result__obj { }
.css_marked__label { }
.css_marked__line { }
.css_marked__obj { }
.css_unit__label { }
.css_unit__line { }
.css_unit__obj { }
.css_standardvalue__label { }
.css_standardvalue__line { }
.css_standardvalue__obj { }
