.css_labcode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_labcode_grid_line {vertical-align: top;text-align: right;}
.css_category_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_category_grid_line {vertical-align: top;text-align: right;}
.css_name_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_name_grid_line {vertical-align: top;text-align: right;}
.css_rate_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_rate_grid_line {vertical-align: top;text-align: right;}
.css_resulttype_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_resulttype_grid_line {vertical-align: top;text-align: right;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_subname_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_subname_grid_line {vertical-align: top;text-align: right;}
.css_oper_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_oper_grid_line {vertical-align: top;text-align: right;}
