.css_trancode_label { }
.css_trancode_line { }
.css_trancode_obj { }
.css_trandate_label { }
.css_trandate_line { }
.css_trandate_obj { }
.css_statusid_label { }
.css_statusid_line {text-align:left;}
.css_statusid_obj {text-align:left;}
.css_birthdate_label { }
.css_birthdate_line { }
.css_birthdate_obj { }
.css_regcode_label { }
.css_regcode_line {text-align:left;}
.css_regcode_obj {text-align:left;}
.css_staffid_label { }
.css_staffid_line {text-align:left;}
.css_staffid_obj {text-align:left;}
.css_finishdate_label { }
.css_finishdate_line { }
.css_finishdate_obj { }
.css_icdid_label { }
.css_icdid_line {text-align:left;}
.css_icdid_obj {text-align:left;}
.css_confirmdate_label { }
.css_confirmdate_line { }
.css_confirmdate_obj { }
.css_patientid_label { }
.css_patientid_line { }
.css_patientid_obj { }
.css_notes_label { }
.css_notes_line { }
.css_notes_obj { }
.css_sc_field_0_label { }
.css_sc_field_0_line { }
.css_sc_field_0_obj { }
.css_detail_label { }
.css_detail_line { }
.css_detail_obj { }
.css_result_label { }
.css_result_line { }
.css_result_obj { }
