.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_trandate__label { }
.css_trandate__line { }
.css_trandate__obj { }
.css_serviceid__label { }
.css_serviceid__line {text-align:left;}
.css_serviceid__obj {text-align:left;}
.css_price__label {text-align:;}
.css_price__line {text-align:left;}
.css_price__obj {text-align:left;}
.css_staffid__label { }
.css_staffid__line {text-align:left;}
.css_staffid__obj {text-align:left;}
