.css_patientid_label { }
.css_patientid_line { }
.css_patientid_obj { }
.css_deptid_label { }
.css_deptid_line {text-align:left;}
.css_deptid_obj {text-align:left;}
.css_doctorid_label { }
.css_doctorid_line {text-align:left;}
.css_doctorid_obj {text-align:left;}
.css_queueno_label { }
.css_queueno_line { }
.css_queueno_obj { }
.css_regdate_label { }
.css_regdate_line { }
.css_regdate_obj { }
.css_regtime_label { }
.css_regtime_line { }
.css_regtime_obj { }
.css_finishdate_label { }
.css_finishdate_line { }
.css_finishdate_obj { }
.css_servicedate_label { }
.css_servicedate_line { }
.css_servicedate_obj { }
.css_trancode_label { }
.css_trancode_line {text-align:left;}
.css_trancode_obj {text-align:left;}
.css_statusid_label { }
.css_statusid_line {text-align:left;}
.css_statusid_obj {text-align:left;}
.css_paymentid_label { }
.css_paymentid_line {text-align:left;}
.css_paymentid_obj {text-align:left;}
.css_institutionid_label { }
.css_institutionid_line {text-align:left;}
.css_institutionid_obj {text-align:left;}
.css_institutionno_label { }
.css_institutionno_line {text-align:left;}
.css_institutionno_obj {text-align:left;}
.css_staffid_label { }
.css_staffid_line {text-align:left;}
.css_staffid_obj {text-align:left;}
