.css_parameter_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_parameter_grid_line {vertical-align: top;text-align: left;}
.css_subparameter_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_subparameter_grid_line {vertical-align: top;text-align: left;}
.css_result_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_result_grid_line {vertical-align: top;text-align: left;}
.css_marked_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_marked_grid_line {vertical-align: top;text-align: left;}
.css_standardvalue_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_standardvalue_grid_line {vertical-align: top;text-align: left;}
.css_unit_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_unit_grid_line {vertical-align: top;text-align: left;}
.css_trandate_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_trandate_grid_line {vertical-align: top;text-align: center;}
.css_staffid_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_staffid_grid_line {vertical-align: top;text-align: left;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_trancode_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_trancode_grid_line {vertical-align: top;text-align: left;}
.css_serviceid_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_serviceid_grid_line {vertical-align: top;text-align: right;}
.css_standardvalue1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_standardvalue1_grid_line {vertical-align: top;text-align: left;}
